apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app-deployment
  labels:
    app: python-app
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-app
        image: 808985145578.dkr.ecr.ap-northeast-2.amazonaws.com/python-app:v1
        ports:
        ports:
        - containerPort: 8000 # 파이썬 앱(FastAPI)이 사용하는 포트