apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app-deployment
  namespace: default
  labels:
    app: python-app
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-app
        image: IMAGE_PLACEHOLDER
        ports:
        - containerPort: 8000 # 파이썬 앱(FastAPI)이 사용하는 포트
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  name: python-app-service
  namespace: default
spec:
  # 타입을 LoadBalancer로 설정해야 외부 IP가 할당 됨.
  type: LoadBalancer
  selector:
    app: python-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000